body{
    font-family: 'Open Sans';
    font-size: 20px;
    background-color: ivory;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    text-align: justify;
    color: black;
}



header{
    font-family: 'Playfair Display';
    font-size: 25px;
    border: 5px;
    border-style: solid;
    border-radius: 15;
    padding:20px;
    text-align:center;
    font-weight: 700;
    color:white ;
    background-color:#004D40 ;
    border-color:#004D40;
}
#box1{
    color: black;
    border: 5px;
    border-style: solid;
    border-radius: 15px;
    padding: 20px;
    text-align: justify;
    font-weight: 700;
    background-color: #C8E6C9;
    border-color: #C8E6C9;
    margin-top: 2px;
    height: 500px;
    font-size: 35px;
}

button{
    background-color: #1c6149;
    width: 60px;
    height: 60px;
    margin-left: 95%;
    position: relative;
    bottom: 100px;
    position: relative;
}
button:hover{
    background-color: #800020;
}
h2{
    color: black;
    border: 5px;
    border-style: solid;
    border-radius: 15px;
    padding: 20px;
    text-align: left;
    font-weight: 700;
    background-color: #C8E6C9;
    border-color: #C8E6C9;
    margin-top: 10px;
}

#box2{
    color: black;
    border: 5px;
    border-style: solid;
    border-radius: 15px;
    padding: 20px;
    text-align: justify;
    font-weight: 700;
    background-color: #C8E6C9;
    border-color: #C8E6C9;
    margin-top: 10px;
    height: 500px;
    font-size: 35px;

}

@keyframes popupslide {
    from {right: 0%;}
    to {left: 50%;}
    }

#box3{
    color: black;
    border: 5px;
    border-style: solid;
    border-radius: 15px;
    padding: 20px;
    text-align: justify;
    font-weight: 700;
    background-color: #C8E6C9;
    border-color: #C8E6C9;
    margin-top: 10px;
    height: 500px;
    font-size: 35px;
}
#amsterdam{
    height: 400px;
    width: 500px;
    float: right;
    margin-top: 50px;
    border-radius: 10px;
    border: 5px;
    border-style: solid;
    border-color:#C8E6C9;
    margin-left: 20px;
}
#singapore{
    height: 400px;
    width: 500px;
    float: right;
    margin-top: 50px;
    border-radius: 10px;
    border: 5px;
    border-style: solid;
    border-color:#C8E6C9;
    margin-left: 20px;

}
#oslo{
    height: 400px;
    width: 500px;
    float: right;
    margin-top: 50px;
    border-radius: 10px;
    border: 5px;
    border-style: solid;
    border-color:#C8E6C9;
    margin-left: 20px;
}